<div>
<form ng-submit="">
	<input type="text" placeholder="Please Enter Your Fist Name">First Name<br>
	<input type="text" placeholder="Please Enter Your Last Name">Last Name<br>
	<input type="text" placeholder="Please Enter Your Phone Number">Phone Number<br>
	<input type="text" placeholder="Please Enter Your Age">Age<br>
	<input type="text" placeholder="Please Enter Your Nationality">Nationality<br>
	
	<label for="male">Gender</label>
	<input type="radio" value="male">Male<br>
	<input type="radio" value="female">Female<br>
	<input type="radio" value="other">Other<br>
	
	<label for="male">Country of Residence?</label>
	<input type="radio" value="male">Male<br>
	<input type="radio" value="female">Female<br>
	<input type="radio" value="other">Other<br>
	
	<label for="male">Where Would You Prefer to Study?</label>
	<input type="radio" value="amman">Amman<br>
	<input type="radio" value="mafraq">Mafraq<br>
	<input type="radio" value="either">Either Amman Or Mafraq<br>
	
</form>
</div>