<div>
<form ng-submit="">
	<input type="text" placeholder="Please Enter Your Fist Name">First Name<br>
	<input type="text" placeholder="Please Enter Your Last Name">Last Name<br>
	<input type="text" placeholder="Please Enter Your Phone Number">Phone Number<br>
	<input type="text" placeholder="Please Enter Your Age">Age<br>
	<input type="text" placeholder="Please Enter Your Nationality">Nationality<br>
	
	<label for="gender">Gender</label><br>
	<input type="radio" value="male">Male<br>
	<input type="radio" value="female">Female<br>
	<input type="radio" value="other">Other<br>
	
	<label for="residence">Country of Residence?</label><br>
	<input type="radio" value="Jordan">Jordan<br>
	<input type="radio" value="other">other<br>
	<input type="text" placeholder="Please Enter Location">Location<br>
	
	<label for="camplPlace">Where Would You Prefer to Study?</label><br>
	<input type="radio" value="amman">Amman<br>
	<input type="radio" value="mafraq">Mafraq<br>
	<input type="radio" value="either">Either Amman Or Mafraq<br>

	<label for="distanc">I can travel to West Amman or Mafraq in less than 40 minutes</label><br>
	<input type="radio" value="yes">Yes<br>
	<input type="radio" value="no">No<br>
	
</form>
</div>