<div class="container">
<div class="col-sm-2"></div>
	<div class="jumbotron col-sm-8">
		<h2 style="text-align: center; color: #cc0099">RBK Commitment Agreement اتفاقية الالتزام بقواعد البرنامج</h2>
		<p>RBK is an intensive, immersive program and requires a substantial investment of your time and resources, as well as the time and resources of RBK staff. As you enter the RBK program, we make a commitment to you that we will provide you with 12 – 16 hours a day of training from experienced instructors, many of whom have volunteered their time and energy to provide you with all the training and support you will need to succeed. Our program is tough, but for those who graduate we are further committed to providing career support to our graduates as they go forward into the labor market. 

		We are making a big commitment to YOU, and in return we expect you make an even greater commitment to YOURSELF.

		By joining the RBK program, you are agreeing to commit to the following:
		برنامج RBK هو برنامج تدريبي مكثف يتطلب استثماراً كبيراً من وقتك وجهدك، كما يتطلب أيضا من وقت ومصادر العاملين لدى RBK. في حال انضمامك للبرنامج يتعين علينا الالتزام بتوفير 12 - 16 ساعة من التدريب المكثف المقدم من معلمين ذوي خبرة، العديد منهم تطوعوا بوقتهم وطاقتهم لتقديم التعليم والتدريب لك ودعمك حتى تحقق النجاح اللازم. برنامجنا صعب، ولكن لأولئك الذين يتخرجون من البرنامج نلتزم بتوفير الدعم المهني مع انخراطكم بسوق العمل. 

		التزامنا تجاهكم كبير، ولذا نرجو منكم التزاماً أكبر لأنفسكم. بانضمامك لبرنامج RBK فأنت توافق على الالتزام بالتالي:</p>
		<br>

		<div class="form-group">
			<label>I pledge to be honest with myself, my peers, my instructors, and other RBK program staff 100% of the time. أتعهد بأن أكون صادقاً مع نفسي، ومع زملائي، ومع الأساتذة والعاملين لدى RBK.</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.hounsty"> I agree to this commitment أوافق
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.hounsty"> I am unwilling to make this commitment لا أوافق
				</label><br>
			</div>
			<br>

			<label>I am able to devote 12 - 16 hours per day, 6 days per week to the RBK program for the full 4 months of the program. أنا قادر على منح البرنامج 12 -16 ساعة من وقتي لستة أيام في الأسبوع على مدى 4 أشهر</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.devotingTime"> I agree to this commitment أوافق
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.devotingTime"> I am unwilling to make this commitment لا أوافق
				</label><br>
			</div>
			<br>

			<label>I understand that the RBK program entails considerable teamwork and instructor-led education. I commit to attending ALL classroom lectures, group project meetings, co-working sessions, study groups, and other events during the full 4 months of the RBK program. I understand that I will be ENTIRELY unable to adjust the RBK curriculum to fit MY schedule. أتفهم أن البرنامج يعتمد بشكل كبير على العمل الجماعي والتدريس، وسألتزم بحضور المحاضرات جمعيها والاجتماعات ومجموعات الدراسة والأحداث الأخرى خلال الأشهر الأربعة. وأتفهم بأنني لن أستطيع تعديل البرنامج ليتلائم ووقتي الشخصي.</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.attendance"> I agree to this commitment أوافق
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.attendance"> I am unwilling to make this commitment لا أوافق
				</label><br>
			</div>
			<br>

			<label>I will have NO work or professional commitments during the RBK program. This means I will NOT work at any full-time, part-time, intern, or freelance job and I will NOT participate in any volunteer work. I understand that I will be unable to participate in any activity to earn money for the full 4 months of the RBK program. لن يكون لدي أي التزامات مهنية خلال البرنامج، هذا يعني بأنني لن أعمل بأي شكل من الأشكال (دوام كامل-جزئي-حر) ولن أتمكن من المشاركة بأي نشاط لكسب المال خلال فترة البرنامج الممتدة لـ 4 أشهر.</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.workCommitments"> I agree to all of these conditions  أوافق على جميع هذه الشروط
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.workCommitments"> I am unable or unwilling to make this commitment لا يمكنني أو لا أنوي الالتزام
				</label><br>
			</div>
			<br>

			<label>I will have NO external educational commitments during the RBK program. This means that I will NOT be enrolled in any university classes, language classes, or vocational training programs for the full 4 months of the RBK program. ليس لدي أي التزامات أكاديمية تعليمية خلال فترة البرنامج هذا يعني أنني لن ألتحق بأي برنامج تعليمي من أي شكلٍ كان خلال الأشهر الأربعة. </label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.educationalCommitments"> I agree to all of these conditions  أوافق على جميع هذه الشروط
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.educationalCommitments"> I am unable or unwilling to make this commitment لا يمكنني أو لا أنوي الالتزام
				</label><br>
			</div>
			<br>

			<label>I will have NO personal commitments during the RBK program. This means that I will NOT attend ANY weddings, births, funerals, or family holiday obligations for the full 4 months of the RBK program. لن أشارك بأية التزامات عائلية خلال مدة البرنامج، ما يعني لا أعراس أو ولادات أو جنازات أو عطل عائلية على الأطلاق.</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.personalCommitments"> I agree to all of these conditions  أوافق على جميع هذه الشروط
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.personalCommitments"> I am unable or unwilling to make this commitment لا يمكنني أو لا أنوي الالتزام
				</label><br>
			</div>
			<br>

			<label>I understand that it is STRONGLY ENCOURAGED to disconnect from all social media (Facebook, instagram, whatsapp groups, snapchat, etc.) during the full 4 months of the RBK program. I understand that excessive social media use during the RBK program will cause my work to suffer considerably and will be grounds for dismissal from the program. أتفهم أنه من المهم جداً الابتعاد عن أي نوع من أنواع وسائل التواصل الاجتماعية (الفيسبوك، انستغرام، مجموعات واتساب، وسنابشات) خلال مدة البرنامج، وأن استعمالها الزائد سيتسبب باعاقة عملي وقد يكون السبب الرئيسي لطردي من البرنامج.</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.socialMedia"> I understand and agree to disconnect from social media during the program أفهم ذلك وأتعهد بالابتعاد عن وسائل التواصل الاجتماعية خلال فترة البرنامج
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.socialMedia"> I am unable or unwilling to make this commitment لا يمكنني أو لا أنوي الالتزام
				</label><br>
			</div>
			<br>

			<label>I understand that it is STRONGLY ENCOURAGED to avoid distraction from video games, addictive smartphone games or apps, and other 'time sinks' during the full 4 months of the RBK program. (We RECOMMEND that you temporarily remove these distractions from your phone so you won't be tempted!) I understand that excessive distraction and time wasting during the RBK program will cause my work to suffer considerably and will be grounds for dismissal from the program. أتفهم أنه من المهم تجنب أي ملهيات من ألعاب الفيديو أو تطبيقات الهواتف وغيرها خلال مدة البرنامج، نوصي بإزالتها مؤقتاً من الهاتف لتجنب الوقوع ضحيتها! أتفهم أيضاً أن التلهي الكثير سيكون مضيعة لوقتي وقد يؤدي لطردي من البرنامج.</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.timeWasting"> I understand and agree to disconnect from social media during the program أفهم ذلك وأتعهد بالابتعاد عن وسائل التواصل الاجتماعية خلال فترة البرنامج
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.timeWasting"> I am unable or unwilling to make this commitment لا يمكنني أو لا أنوي الالتزام
				</label><br>
			</div>
			<br>

			<label>I understand that the RBK program is taught entirely in ENGLISH. I affirm that I have good English language comprehension. (that is, I affirm that I have been able to read this form without the use of a translator or any dictionary, I am able to watch English language movies or television without subtitles, and I can read complex English language websites without the use of a translator or dictionary.) أتفهم أن البرنامج يدّرس باللغة الانجليزية بالكامل، وعلى ذلك، أؤكد أن لدي المقدرة الكافية على فهم وتحليل اللغة بدون مساعدة خارجية)</label>
			<div class="container">
				<label class="radio-inline">
					 <input type="radio" value="agree" ng-model="agreement.english"> I am certain that my English level is sufficient as described above. متأكد أن مستوى لغتي الانكليزية كافٍ
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.english">I think my English level is good, but am not sure. I can take a short 30 minute test to find out. أظن أن لغتي الانكليزية جيدة ولكنني لست متأكداً، يمكنني أخذ امتحان من 30 دقيقة لأعرف.
				</label><br>

				<label class="radio-inline">
					  <input type="radio" value="notAgree" ng-model="agreement.english">My English is not good. لغتي ليست بجيدة.
				</label><br>
			</div>
			<br>			
	</div>
	<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="sendAgreement()">NEXT</button>
	</div>
</div>