.bkground{
background: red;
}

/*body{
	color: #6d0949
}*/
.rbk {
	background-color: #b53887 !important;
	color: #fff !important;
}
/*.jumbotron{
	margin:auto;
	height: 350px;
}*/

/*input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1em;
}*/

label{
	font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		background-color: #6d0949;
		color: #fff;
}

.nav a {
	color: #6d0949;
}



