<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<ul class="nav nav-pills nav-justified">
						<li id="signin" ng-class="{ active: isSet(1) }"><a  href ng-click="setTab(1)" data-toggle='tab' role="presentation">Sign in</a></li>
						<li id="signup" ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)" data-toggle='tab' role="presentation">Sign up</a></li>
					</ul>
				</div>





				<div class="panel-body" ng-show="isSet(1)">
					<form accept-charset="UTF-8" role="form">
					<fieldset>
						<div class="form-group">
							<label for="email">	Email</label>
							<input class="form-control" placeholder="example@gmail.com" id="email" name="email" type="email" ng-model="userin.email">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input class="form-control" placeholder="Password" id="password" name="password" type="password" ng-model="userin.password">
						</div>
						<input style="background-color:#6d0949; color: white" class="btn btn-lg btn-block" type="submit" value="Sign in" ng-click="signin()">
					</fieldset>
					</form>
				</div>





				<div class="panel-body" ng-show="isSet(2)">
					<form accept-charset="UTF-8" role="form">
					<fieldset>
						<div class="form-group">
							<label for="fullName">Full Name</label>
							<input class="form-control" placeholder="Full Name" ng-model="userup.name" id="fullName" name="email" type="text">
						</div>
						<div class="form-group">
							<label for="email">	Email</label>
							<input class="form-control" placeholder="example@gmail.com" id="email" name="email" type="email" ng-model="userup.email">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input class="form-control" placeholder="Password" id="password" name="password" type="password" ng-model="userup.password">
						</div>
						<input style="background-color:#6d0949; color: white" class="btn btn-lg btn-block" type="submit" value="Sign up" ng-click="signup()">
					</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>