<div class="container">
	<div class="col-sm-6">
		<div class="jumbotron">
		<h2 style="text-align: center; color: #cc0099">Login</h2>
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Email Address" ng-model="userin.email">
			   <br>
			  <input type="password" class="form-control" placeholder="Password" ng-model="userin.password">
			</div>
		<br>
			<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="signin()">SUBMIT</button>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="jumbotron">
		<h2 style="text-align: center; color: #cc0099">SignUp</h2>
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="User Full Name" ng-model="userup.name">
			  <br>
			  <input type="text" class="form-control" placeholder="Email Address" ng-model="userup.email">
			   <br>
			  <input type="password" class="form-control" placeholder="Password" ng-model="userup.password">
			</div>
		<br>
			<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="signup()">SUBMIT</button>
		</div>
	</div>
</div>