<div class="container">
<div class="col-sm-3"></div>
	<div class="jumbotron col-sm-6">
		<h2 style="text-align: center; color: #cc0099">Fizz Buzz Exercise</h2>
		<p>In the space below, write a program that prints the numbers from 1 to 100. But, for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

		Feel free to code this in any languge including pseudo code. Complete the work yourself. This is not a test. For those of you who completed this section, you will be given another code challenge during the interview.</p>

		<label>Please paste your code below: يرجى لصق الحل أدناه</label>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Code Solution" ng-model="codingTest.codeSyntax"><br>
		</div>
		
		<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="sendCodeSyntax()">NEXT</button>
	</div>
</div>
