<div class="container">
<div class="col-sm-3"></div>
	<div class="jumbotron col-sm-6">
		<h2 style="text-align: center; color: #cc0099">Fizz Buzz Exercise</h2>
		<p>Thank you for submitting your application to RBK. Our admissions team will review your responses and contact you to schedule an interview. شكراً لارسالك طلبك إلينا، سيعمل فريق القبول على مراجعة ردودك كاملة وسنكون على تواصل معك لتحديد موعد المقابلة. </p>
		
		<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="goHome()">Home</button>
	</div>
</div>
