<div class="container">
<div class="col-sm-2"></div>
	<div class="jumbotron col-sm-8">
		<h2 style="text-align: center; color: #cc0099">Mindset Assessment التقييم الفكري</h2>
		<p>Please complete and submit the mindset assessment at the following link:<br>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSf8zLiy-nyIaHlW-FHgCNP3Q1DdBOQIfRc3YowhMREnKIrlFw/viewform">Mindset Assessment Link Here</a><br></p>
			<div style="direction: rtl;"><p>
			يرجى التوجه للرابط أعلاه واداء التقييم الفكري!</p></div>

		<label>For tracking purposes, please confirm the email address you used to complete the mindset assessment: يرجى تأكيد البريد الالكتروني المستخدم في أداء التقييم الفكري لأغراض المتابعة:</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="email Address Confirmation" ng-model="mindSetEmail.mindSet"><br>
		</div>		
		<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="sendMindSetEmail()">NEXT</button>
	</div>
</div>