<div class="container">
<div class="col-sm-2"></div>
	<div class="jumbotron col-sm-8">
		<h2 style="text-align: center; color: #cc0099">Video Introduction الفيديو التعريفي</h2>
		<p>Using a smart phone, make a 2 minute video introducing yourself. Please speak directly into the camera, and tell us a little bit about you - in English! This should be simple and fun. Be creative. Show us your dance moves or magic tricks. Give us some fun facts about you. Don’t take it too seriously! It is an opportunity for us to “meet” you and get a sense of who you are.

		Please upload this video to YouTube and post the link to your video here. You can set this video to "unlisted" so that only people with a link can see it.

		باستخدام هاتفك الذكي، قم بتصوير فيديو من دقيقتين تعرّف فيه بنفسك، تحدث مباشرة إلى الكاميرا وأخبرنا قليلاً عن نفسك باللغة الانكليزية حصراً!  هذا القسم يفترض أن يكون سهلاً ولطيفاً فلا تدع التوتر يأخذك كن مبدعاً بذلك، يمكنك حتى أن ترينا بعضاً من رقصاتك! أخبرنا بحقيقة مسلية عنك ولا تأخذ الأمر بجدية كبيرة هذه مجرد فرصة لنا لمقابلتك والتعرف عليك. 

		لطفاً ارفع الفيديو إلى اليوتيوب ثم قم بلصق رابط الفيديو في المكان المخصص له على النموذج، يمكنك تخصيص هذا الفيديو بحيث أن من يملك الرابط فقط يمكنه رؤيته.
		</p>
		<label>Please paste your video URL here: يرجى لصق رابط الفيديو هنا</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Video Introduction Link" ng-model=""><br>
		</div>
		
		<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="sendVideoLink()">NEXT</button>
	</div>
</div>