<div class="container">
<div class="col-sm-3"></div>
	<div class="jumbotron col-sm-6" style="height: 900px;">
		<h2 style="text-align: center; color: #cc0099">Biographic Info المعلومات الشخصية</h2>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Full Name" ng-model="userInfo.name"><br>
			<input type="text" class="form-control" placeholder="Phone Number" ng-model="userInfo.phone"><br>
			<input type="text" class="form-control" placeholder="Age" ng-model="userInfo.age"><br>
			<input type="text" class="form-control" placeholder="Nationality" ng-model="userInfo.nationality"><br>
			<input type="text" class="form-control" placeholder="Country of Residence" ng-model="userInfo.residence"><br>
			<br>
			<label for="gender">Gender</label> <br>
			<div class="container">
				<label class="radio-inline">
				  <input type="radio" value="male"> Male
				</label><br>

				<label class="radio-inline">
				  <input type="radio" value="Femal"> Female
				</label><br>

				<label class="radio-inline">
				  <input type="radio" value="other"> Other
				</label><br>
			</div>
			<br>
			 
			<div class="container">
			<label for="camplPlace">Where would you prefer to study?</label><br>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" value="amman"> Amman
				</label><br>

				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" value="mafraq"> Mafraq
				</label><br>

				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" value="either"> Either Amman Or Mafraq 
				</label><br>
			</div>
			<br>
			<label for="distanc">I can travel to West Amman or Mafraq in less than 40 minutes.</label><br>

			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" value="yes"> Yes
			</label><br>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" value="no"> No
			</label>
		</div>
		<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="sendUserInfo()">NEXT</button>
	</div>
</div>