<div class="container">
<div class="col-sm-2"></div>
	<div class="jumbotron col-sm-8">
		<h2 style="text-align: center; color: #cc0099">Psychological Assessment التقييم النفسي</h2>
		<p>Please complete the psychological assessment at the following URL:

		http://similarminds.com/jung.html

		Copy and paste your results below (Example: ESFP - "Entertainer". Radiates attractive warmth and optimism. Smooth, witty, charming, clever. Fun to be with. Very generous. 8.5% of the total population.)</p><br>
		<div style="direction: rtl;"><p>
			يرجى التوجه للرابط أعلاه ثم نسخ ولصق النتيجة كما هي مبينة في المثال، في المكان المخصص لها على النموذج.</p></div>

		<label>Copy and paste your results here: يرجى لصق النتيجة هنا:</label>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Video Introduction Link" ng-model="psychologicalTest"><br>
		</div>
		
		<button type="button" class="btn btn-lg center-block btn-block" style="background:#cc0099;color:white;" ng-click="sendTestResult()">NEXT</button>
	</div>
</div>



<!-- <div class="jumbotron" ng-repeat="question in questions">
					<p>{{question.text}}</p>
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group">
								<input type="text" id="{{question._id+'Details'}}"" class="form-control" placeholder=" ... ملاحظات "/>
								<span class="input-group-btn">
									<label class="btn btn-danger">
										<input type="radio" id="{{question._id+'No'}}" name="{{question._id+'YesNoButtons'}}" />&nbsp;&nbsp;لا&nbsp;&nbsp;
									</label>
									<label class="btn btn-success">
										<input type="radio" id="{{question._id+'Yes'}}" name="{{question._id+'YesNoButtons'}}"/>&nbsp;&nbsp;نعم&nbsp;&nbsp;
									</label>
								</span>
							</div>
						</div>
					</div> -->